.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.mainContent {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 70px;
    -webkit-overflow-scrolling: touch;
}