.container {
    padding: 16px;
    padding-bottom: 80px;
}

.header {
    margin-bottom: 24px;
}

.tabs {
    display: flex;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    padding: 4px;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.tab {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-secondary);
    background: none;
    border: none;
    border-radius: var(--border-radius-small);
}

.tab.active {
    color: var(--primary-color);
    background-color: rgba(var(--primary-color-rgb), 0.1);
}